body {
	background-color: #eee;
	font-family: "Oxygen",sans-serif;
	color: white;
}
/*header*/
#header-nav{
background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	padding-bottom: 0px;
	
}
.navbar-brand h1{
	color: white;
	font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #6e7f80;
  margin-top: 0px;
  margin-bottom: 5px;
}
.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}
.navbar-toggler{
	padding: 0px;
	width: 17.5px;
	height: 17.5px;

}

.navbar-toggler-icon{
background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	border:1px solid white;
	border-radius: 4px;
}
.navbar-toggler-icon:hover{
	background-color: #222;
}
svg{
	padding-bottom: 0px;
	color: white;
}
#nav-list li a{
	text-align: center;
	color: white;
	margin: auto;
	padding-right: 20px;
	margin-bottom: 0px;

}


#nav-list li a:hover{
	background-color: #222;
}
/*header end*/
/******************************/
/*main content*/
h2{
	color: black;
	text-align: center;
	padding-top: 20px;
	margin-top:50px;
	margin-bottom: 20px;
}
h4{
	text-align: center;
	padding-bottom: 10px;
}
#S1,#S2,#S3{
background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #7f8c8d;
}
a,a:hover{
	color: white;
}


